<h1>Today</h1>

<div id='left-side'>
<div id="canvasDiv"></div>

<button id='add'>Save</button>
</div>
<div id='options'>
<div id='brushes'>
  <h3>Brushes</h3>
  <button class='brush' id='standard'>Standard</button>
  <button class='brush' id='shadow'>Shadow</button>
  <button class='brush' id='fur'>Fur</button>
  <button class='brush' id='pen'>Pen</button>
  <button class='brush' id='sliced'>Sliced Brush</button>
  <button class='brush' id='spray'>Spray</button>
</div>

<div id='colors'>
  <h3>Colors</h3>
  <button id='green'>Green</button>
  <button id='purple'>Purple</button>
  <button id='yellow'>Yellow</button>
  <button id='brown'>Brown</button>
  <button id='black'>Black</button>
</div>

<div id='sizes'>
  <h3>Size</h3>
  <button id='big-line'>Big</button>
  <button id='med-line'>Medium</button>
  <button id='small-line'>Small</button>
  <button id='really-small-line'>Really Small</button>
</div>
</div>

