<h1>Today's Painting</h1>

<div id="canvasDiv"></div>

<a id='add' href="/paintings/today">Save Addition</a>

<div id='colors'>
  <h3>Colors</h3>
  <button id='green'>Green</button>
  <button id='purple'>Purple</button>
  <button id='yellow'>Yellow</button>
  <button id='brown'>Brown</button>
</div>


